{% extends 'app/header.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Home.css' %}">
{% endblock %}

{% block content %}

<section class="hero-section">

    <div class="hero-content">

        <h1>NovaTrust Bank DIGITAL BANKING PLATFORM</h1>

        <p>
            Secure Banking System For Account Management,
            Transactions And Statements.
        </p>

        <div class="hero-actions">

            {% if not request.user.is_authenticated %}

                <a class="btn primary" data-bs-toggle="modal" data-bs-target="#signupModal">
                    Create Account
                </a>

                <a class="btn outline" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login
                </a>

            {% else %}

                <a href="{% url 'Home' %}" class="btn primary">
                    Visit Dashboard
                </a>
            {% endif %}

        </div>

    </div>

</section>


<section class="service-container">

    {% if not user_existance %}
    <div class="service-card">
        <h2>Create Account</h2>
        <p>Open a new bank account quickly and securely.</p>
        <a href="{% url 'create_account' %}" class="card-btn">Create</a>
    </div>
    {% endif %}

    <div class="service-card">
        <h2>Money Transfer</h2>
        <p>Transfer money safely to another account.</p>
        <a href="{% url 'MoneyTransfer' %}" class="card-btn">Transfer</a>
    </div>

    <div class="service-card">
        <h2>Bank Statement</h2>
        <p>Check and download your transaction history.</p>
        <a href="{% url 'viewstatement' %}" class="card-btn">View</a>
    </div>

    <div class="service-card">
        <h2>Balance Check</h2>
        <p>View your current account balance instantly.</p>
        <a data-bs-toggle="modal" data-bs-target="#current_balance" class="card-btn">Check</a>
    </div>

    <div class="service-card">
        <h2>Profile</h2>
        <p>Manage your account details and security settings.</p>
        <a data-bs-toggle="modal" data-bs-target="#profile" class="card-btn">Open</a>
    </div>

    <div class="service-card">
        <h2>Deposit Money</h2>
        <p>Deposit amount instantly.</p>
        <a data-bs-toggle="modal" data-bs-target="#deposit_balance" class="card-btn">Deposit</a>
    </div>

    <div class="service-card">
        <h2>Withdraw Money</h2>
        <p>Withdraw amount instantly.</p>
        <a data-bs-toggle="modal" data-bs-target="#withdraw_balance" class="card-btn">Withdraw</a>
    </div>

    <div class="modal fade" id="current_balance" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Current Balance</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {{ current_balance }}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deposit_balance" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Deposit Money</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'depost_money' %}">
                    {% csrf_token %}
                    {{ depost_data }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="withdraw_balance" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Withdraw Money</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'withdraw_balance' %}">
                    {% csrf_token %}
                    {{ withdraw_balance }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


</section>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}